<div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th>Id </th>
                  <th>Ruolo </th>
                  <th>Lancio</th>
              </tr>
          </thead>
        
          <tbody>
              <tr *ngFor="let tempRisultato of risultati" >
                  <th>{{tempRisultato.id}}</th>
                  <th>{{tempRisultato.ruolo}}</th>
                  <th>{{tempRisultato.dado}}</th>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>