<h1>
    Giocatori:
</h1>
<h3>Mazziere : {{mazziere.nome}}</h3>
<ul *ngIf="!bool.partitaCreata">
    <h3>Prima crea una partita</h3>
</ul>
<ul *ngIf="bool.partitaCreata">
    <table class="table" >
        <thead class="thead-dark">
            <tr>
                <th>Id </th>
                <th>Nome </th>
                <th>Eta</th>
                <th>Colore squadra</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let giocatore of giocatori">
                <th>{{giocatore.id}}</th>
                <th>{{giocatore.descrittoreGiocatore.nome}}</th>
                <th>{{giocatore.descrittoreGiocatore.eta}}</th>   
                <th>{{giocatore.descrittoreGiocatore.descrittorePedina.colore}}</th>   

                <th *ngIf="!bool.fineGiocatori"><button type="button" class="btn btn-outline-danger" (click)="deleteGiocatore(giocatore.id)">Elimina</button>
                </th>
            </tr>
        </tbody>
    </table>
    <h3>Turni </h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nome </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno of turni">
                <th>{{turno.nomeGiocatore}}</th>
                
            </tr>
        </tbody>
    </table>

    <ul *ngIf="!bool.fineGiocatori">
        <form>
            <div class="form-group">
                <label for="nomeGiocatore">Nome giocatore</label>
                <input type="text" class="form-control" placeholder="Inserisci nome giocatore" [(ngModel)]="nomeG" name="nome"/> 
                <small id="nomeGiocatoreHelp" class="form-text text-muted">Inserisci il nome del giocatore che vuoi aggiungere.</small>
            </div>
            <div class="form-group">
                <label for="etaGiocatore">Eta</label>
                <input type="text" class="form-control" placeholder="Eta" [(ngModel)]="etaG" name="eta"/>
            </div>
            <div class="form-group">
                <label for="coloreSquadra">Colore</label>
                <input type="text" class="form-control" placeholder="Colore" [(ngModel)]="coloreSet" name="colore"/>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addGiocatore()">Aggiungi giocatore</button>
            <br><br>
            <button type="submit" class="btn btn-primary" (click)="endGiocatori()">Fine Giocatori</button>
        </form>
    </ul>
    <ul *ngIf="bool.fineGiocatori&&!bool.mazziereCreato">
        <input type="text" class="form-control" placeholder="nomeMazziere" [(ngModel)]="nomeMazziere" name="nomeMazziere"/>
        <button type="submit" class="btn btn-primary" (click)="setMazziere()">Determina mazziere</button>
    </ul>
    <ul *ngIf="bool.fineGiocatori&&bool.mazziereCreato&&!bool.turniCreato">
        <button type="submit" class="btn btn-primary" (click)="createTurni()">Determina turno</button>
    </ul>
</ul>
