<ul *ngIf="partitaCreata">
    <h3>Partita creata con nome: {{partita.nome}}</h3>
    <h5>Modalita {{partita.modalitaB.nomeM}}</h5>
</ul>
<ul *ngIf="!partitaCreata">
    <form>
        <table>
            <td>
                <tr>
                    <div class="form-group">
                    <label for="nomeParita">Nome Partita</label>
                    <input type="text" class="form-control" placeholder="nome della partita" [(ngModel)]="partita.nome" name="nomePartita"/> 
                  </div>
                </tr>
            </td>
            <td>
                <tr>   
                    <div class="form-group">
                        <label for="modalita">Modalita</label>
                        <input type="text" class="form-control" placeholder="modalita di gioco" [(ngModel)]="modalitaNome" name="modalita"/> 
                    </div>
                </tr>
            </td>
            <td>
                <tr>   
                    <div class="form-group">
                        <label for="modalita">RIMESCOLI </label>
                        <input type="text" class="form-control" placeholder="modalita di gioco" [(ngModel)]="nRimescoli" name="rimescoli"/> 
                    </div>
                </tr>
            </td>
        </table>
    
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="addPartita()">Nuova Partita</button>
        </div>
      
      </form>
</ul>






