<ul *ngIf="!bool.partitaCreata">
    <h3>Prima crea una nuova partita</h3>
</ul>


<ul *ngIf="bool.partitaCreata&&bool.bonusCreato">
    <h5>Bonus scelti: </h5>
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <td>Nome</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempBonus of listBonus" >
            <td>{{tempBonus.nome}}</td>
        </tr>
    </tbody>
</table>
<h5>Scegli la modalita per il bonus delle carte: </h5>
<br>


<ul *ngIf="descrittoreGiocatore.bonusAssegnato==0">
    <h3>Pedine per i territori: {{bonusTerritori}}</h3>
    <button type="button" class="btn-primary" 
                (click)="getBonusTerritori()">Bonus dai territori</button>


<h5>Scegli le carte da usare</h5>
<table class="table" >
    <thead class="thead-dark">
        <tr>
            <th>Nome </th>
            <th>Simbolo</th>
            <th><button type="button" class="btn-primary" (click)="listCarteTerritorio()">Ricarica carte</button>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartaS of carteTerritorioScelte">
            <th *ngIf="cartaS.nome!=''">{{cartaS.nome}}</th>
            <th *ngIf="cartaS.nome!=''">{{cartaS.simbolo}}</th>    
            <th *ngIf="cartaS.nome!=''"><button type="button" class="btn btn-outline-danger" 
                (click)="deleteCarteScelte(cartaS)">Elimina Bonus</button>
            </th>
        </tr>
    </tbody>
</table>


<br>
<button type="submit" class="btn btn-primary" (click)="usaBonus()">Usa bonus</button>
<br>
<button type="submit" class="btn btn-primary"  [routerLink]="['/pedine-bonus']">Convalida bonus</button>
</ul>

</ul>


<ul *ngIf="bool.partitaCreata&&!bool.bonusCreato">
    <h5>Scegli la modalita per il bonus dei territori: </h5>
    <br>
    <mat-checkbox *ngFor="let regolaT of regoleT"
    name="regolaT"
    [value]="regolaT.check"
    (change)="onChkChangeT(regolaT)">
    {{regolaT.name}}
</mat-checkbox>
<h5>Scegli la modalita per il bonus delle carte: </h5>
<br>
<mat-checkbox *ngFor="let regolaC of regoleC"
    name="regolaC"
    [value]="regolaC.check"
    (change)="onChkChangeC(regolaC)">
    {{regolaC.name}}
</mat-checkbox>
<br>



<button type="submit" class="btn btn-primary" (click)="addBonus()">Add bonus</button>
</ul>

