
<a class="btn btn-primary" [routerLink] = "'giocatore-list'" role="button">Giocatori</a>
<a class="btn btn-primary" [routerLink] = "'tabellone'" role="button">Tabellone</a>
<a class="btn btn-primary" [routerLink] = "'registro-combattimento'" role="button">Combattimeni</a>


<!--
<div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <app-giocatore-list></app-giocatore-list>
      </div>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <app-registro-combattimento></app-registro-combattimento>
    </div>
  </div>
</div>
-->
<router-outlet>

  
</router-outlet>








