 <h1>
    Combattimenti:
</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id </th>
            <th>Territorio attaccante </th>
            <th>Territorio difensore </th>
            <th>Risultato </th>
            <th>Turno</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let TempCombattimento of combattimenti">
            <th>{{TempCombattimento.id}}</th>
             <th>{{TempCombattimento.territorioAttaccante.nome}}</th>
            <th>{{TempCombattimento.territorioDifensore.nome}}</th>
            <th>{{TempCombattimento.risultato}}</th>
            <th>{{TempCombattimento.giocatoreInTurno.turno.id}}</th>
            <th>
              <div *ngIf="boolComb">
              <button type="button" class="btn btn-outline-danger" [routerLink]="['/attacco', TempCombattimento.id]">Combatti</button>
              </div>
            </th>
              <th>
                <div *ngIf="boolCarta">
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/attacco', TempCombattimento.id]">Assegna carta</button>
                </div>
              </th>

          
        </tr>
    </tbody>
</table>


<form>
  <div class="form-group">
    <label for="territorioAttaccante">Nome territorio attaccante</label>
    <input type="text" class="form-control" placeholder="Territorio attaccante" [(ngModel)]="territorioPassA.nome" name="territorioAttaccante"/> 
  </div>
  <div class="form-group">
    <label for="territorioDifensore">Nome territorio difensore</label>
    <input type="text" class="form-control" placeholder="Territorio difensore" [(ngModel)]="territorioPassD.nome" name="territorioDifensore"/> 
  </div>
  <button type="submit" class="btn btn-primary" (click)="addCombattimento()">Combatti!</button>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="fineTurno()">Fine Turno</button>
  </div>

</form>

