<h1>Attacchi</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id </th>
                <th>Pedine Attacco </th>
                <th>Pedine Difesa </th>
                <th>Perdite Attacco </th>
                <th>Perdite Difesa </th>
                <th></th>
            </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let tempAttacco of attacchi" >
                <th>{{tempAttacco.id}}</th>
                <th>{{tempAttacco.pedineAttacco}}</th>
                <th>{{tempAttacco.pedineDifesa}}</th>
                <th>{{tempAttacco.perditeAttacco}}</th>
                <th>{{tempAttacco.perditeDifesa}}</th>   
                <th><button type="button" class="btn btn-info" [routerLink]="['/lancio', tempAttacco.id]">Vedi lanci</button></th>
   
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">

  </div>
</div>

<div *ngIf="newAttacco">
  <form>
    <div class="form-group">
      <label for="pedineAttaccante">Numero pedine attaccante</label>
      <input type="text" class="form-control" placeholder="Pedine attaccante" [(ngModel)]="pedineAttaccante" name="pedineAttaccante"/> 
    </div>
    <div class="form-group">
      <label for="pedineDifensore">Numero pedine difensore</label>
      <input type="text" class="form-control" placeholder="Pedine difensore" [(ngModel)]="pedineDifensore" name="pedineDifensore"/> 
    </div>
    <igx-radio *ngFor="let regola of regole"
      name="regola"
      [value]="regola.valore"
      [(ngModel)]="selectedRegola">
      {{regola.name}}
    </igx-radio>

<div class="box" [style.background-color]="selectedColor"></div>
    
    <button type="submit" class="btn btn-primary" (click)="addBattaglia()">Lancia dadi!</button>
  </form>
</div>
